@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
$primary-yellow: #FBBC05;
$primary-black: #0A0A0A;
$headline-size: 36pt;
$sub-headline-size: 30pt;
$third-headline-size: 24pt;
$fourth-headline-size: 16pt;
$fifth-headline-size: 10pt;
$paragraph-size: 8pt;

.login-background {
  width: 428px;
  height: 926px;
  background:
  linear-gradient(to top, #1A1B22 50%, transparent),
  url('./log-in.png') no-repeat top center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', serif;
  text-align: center;

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .login-header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
    }

    .login-content {
      margin-bottom: 60px;

      .sign-in-header {
        font-size: $headline-size;
        color: #FFF;
        text-align: center;
        margin-bottom: 10px;
      }

      .label {
        color: #FFF;
        font-size: $fourth-headline-size;
        text-align: center;
        margin-bottom: 20px;
      }

      .login-options {
        input {
          width: 80%;
          padding: 12px;
          margin-top: 20px;
          border: none;
          border-radius: 13px;
          background-color: #6d6d6d;
          font-size: 12pt;
          height: 33px;

        }

        ::placeholder {
          color:    #FFF;
        }

        .login {
          width: 87%;
          padding: 12px;
          margin-top: 20px;
          border: none;
          border-radius: 25px;
          background-color: $primary-yellow;
          font-size: 12pt;
          color: #FFF;
          height: 55px;

          label {
            cursor: pointer;
          }
        }

        .forgot-password {
          color: $primary-yellow;
          font-size: 12pt;
          text-align: center;
          margin-top: 10px;
          cursor: pointer;
        }

        .social-media {
          color: $primary-yellow;
          margin-top: 80px;

          .google-icon {
            margin-left: 5px;
            padding-left: 30px;
            background: url('../../../assets/icons/google-icon.png') no-repeat 0 50%;
            background-size: contain;
            cursor: pointer;
          }

          .email-icon {
            padding-left: 30px;
            background: url('../../../assets/icons/mail-icon.svg') no-repeat 0 50%;
            background-size: contain;
            cursor: pointer;
          }

          .apple-icon {
            padding-left: 30px;
            background: url('../../../assets/icons/apple-icon.png') no-repeat 0 50%;
            background-size: contain;
            cursor: pointer;
            filter: brightness(0) invert(1);
          }
        }

        .login-footer {
          margin-top: 45px;
          color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12pt;

          a {
            display: block;
            text-align: center;
            color: $primary-yellow;
            text-decoration: none;
            margin-left: 5px;
            cursor: pointer;

            :hover {
              text-decoration: underline;
            }
          }
        }

        button:hover {
          background-color: #E0A800;
          cursor: pointer;
        }
      }
    }
  }
}
